.coin {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 65px;
}
.coin:hover {
	background-color:#5cbf2a;
}
.coin:active {
	position:relative;
	top:1px;
}

.cryptoCoin {
	width: 160px;
	list-style: none;
	margin: 0px;
	margin-bottom: 20px;
	margin-right: 25px;
	vertical-align: top;
}

.cryptoList {
	width: 90%;
	margin: auto;
	height: 100vh;
}

.exchangeList{
	width: 90%;
	margin: auto;
	height: 100vh;
}

.exchangeItem {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 65px;
	width: 160px;
	list-style: none;
	margin: 0px;
	margin-bottom: 20px;
	margin-right: 25px;
	vertical-align: top;
}

.exchangeItem:hover {
	background-color:#5cbf2a;
}

.exchangeItem:active {
	position:relative;
	top:1px;
}



.coin-choice-button {
	display: block;
}