.search-term{
  	box-sizing: content-box;
    height: 60px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 35px;
    border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    width:90%;
}
.search-button {
	background: #0066A2;

	color: white;

	border-style: outset;

	border-color: #0066A2;

	height: 50px;

	width: 100px;

	font: bold 15px arial, sans-serif;

	text-shadow:none;

}
}

.coin {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 65px;
}
.coin:hover {
	background-color:#5cbf2a;
}
.coin:active {
	position:relative;
	top:1px;
}

.cryptoCoin {
	width: 160px;
	list-style: none;
	margin: 0px;
	margin-bottom: 20px;
	margin-right: 25px;
	vertical-align: top;
}

.cryptoList {
	width: 90%;
	margin: auto;
	height: 100vh;
}

.exchangeList{
	width: 90%;
	margin: auto;
}

.exchangeItem {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 65px;
	width: 160px;
	list-style: none;
	margin: 0px;
	margin-bottom: 20px;
	margin-right: 25px;
	vertical-align: top;
}

.exchangeItem:hover {
	background-color:#5cbf2a;
}

.exchangeItem:active {
	position:relative;
	top:1px;
}



.coin-choice-button {
	display: block;
}